body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#8db9ea, #cac6eb);
}

.loading_image {
  width: 30vw;
  height: 30vh;
}

.prograss_bar_container {
  width: 80vw;
}

.progress_bar {
  background-color: skyblue;
  width: 20%;
  height: 4vh;
  border-radius: 15px;
  text-align: center;
  line-height: 4vh;
}
