body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.loading_image {
  width: 30vw;
  height: 30vh;
}

.progress_bar {
  background-color: skyblue;
  width: 20%;
  height: 4vh;
  border-radius: 15px;
}
